@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #6cd468;
    height: 100%;
}

.primarySlide {
    text-align: center;
}

.primarySlide input {
    width: 300px;
    height: 35px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(165, 115, 155, 0.8);
    font-size: 25px;
}

.mainPageButtons {
    margin-left: 45%;
    margin-bottom: 283px;
}

.startPlanningHeader {
    font-size: 60px;
    border-bottom: solid 5px #9673A5;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.label {
    font-size: 35px;
}

.the-world {
    margin-top: 10px;
    margin-left: 15px;
}

.theWorld {
    background-image: linear-gradient(45deg, #A5739B, #9673A5, #7D73A5);
    color: white;
}

.theWorld nav{
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
}

.theWorld nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.theWorld nav ul li a {
    width: 150px;
    font-size: 24px;
    color: white;
    font-weight: bold;
    text-align: center;
    box-shadow: inset 0 0 0 0 #A5739B;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

.theWorld nav ul li a:hover {
    box-shadow: inset 250px 0 0 0 #A5739B;
}

.marcTag,
.miaTag {
    padding-left: 7px;
    padding-right: 7px;
}

.navigationBar nav ul li a {
    margin-right: 15px;
}

.contributorsHeader {
    margin-right: 25px;
    font-size: 26px;
    color: #92C290;
}

.eventCards {
    margin-top: 15px;
    background-color: #A5739B;
    border-radius: 15px;
    font-size: 18px;
    margin-left: 10px;
    height: 360px;
    margin-bottom: 20px;
    width: 250px;
    
}

.weatherDivs {
    background-color: #92C290;
    text-align: center;
    padding: 7px;
    margin-bottom: 25px;
    border-radius: 15px;
    color: white;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.weatherDates {
    font-weight: bold;
    font-size: 20px;
    background-color: #A5739B;
    border-radius: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.tripDetailsHeader {
    font-size: 50px;
    margin-left: 15px;
    padding-left: 20px;
    font-weight: 500;
    border-bottom: solid 5px #9673A5;
    width: 98%;
    margin-bottom: 35px;
}

.currentForecastHeader {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.weatherSection {
    background-color: rgba(165, 115, 155, 0.8);
    border-radius: 15px;
    padding: 20px;
}

.localEventsHeader {
    font-size: 30px;
    margin-bottom: 10px;
    font-weight: 500;
}

.localEventsSection {
    background-color: rgba(120, 168, 118, 0.6);
    padding: 20px;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.eventNames {
    font-weight: 500;
    color: #92C290;
    font-size: 22px;
}

.eventSpans {
    color: white;
    font-weight: 500;
}

footer div nav ul li a {
    margin-right: 25px;
}